.containerIDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.imgIDetail {
 width: 50%;
}


.precioIDetail{
 font-size: 1.2 rem;
}
