header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 27px 0px rgba(145,139,139,0.33);
-webkit-box-shadow: 0px 10px 27px 0px rgba(145,139,139,0.33);
-moz-box-shadow: 0px 10px 27px 0px rgba(145,139,139,0.33);
}

img {
    width: 10%;
}
.linksNavbar{
margin: 15px;
    color: black;
    padding: 10px;
    font-weight: bolder;
    border-radius: 100px;
}
.linksNavbar:link, a:visited, a:active {
    text-decoration:none;
}

.linksNavbar:hover {
    background-color: rgb(118, 215, 247);
} 

.tituloNavBar {
    list-style:none;
    text-decoration: none ;
    color: black;
}
.tituloNavBar:link
    {list-style:none;
    text-decoration: none ;}

    .tituloNavBar:visited
    {list-style:none;
    text-decoration: none ;}

.tituloNavBar:link
    {list-style:none;
    text-decoration: none ;}